<h3>1.PREPROCESSING DATA</h3>

In [1]:
# import libraries
import numpy as np
import math
import re
import pandas as pd

In [2]:
# open file to take data
with open(r'C:\Users\Admin\DSLab Training sessions\Session 1\data\deathRate.txt','r') as f:
    # read data, split and store in list
    raw_data = f.read().splitlines()
    lines = []
    for line in raw_data:
        # replace multiple white spaces by a white space
        row = re.sub(' +',' ',line)
        # delete the first element in each row
        row = row.split()[1:]
        #add row to data
        lines.append(row)

In [3]:
# assign columns name
columns = np.append(["A" + str(i) for i in range(1,16)],"B")
# create dataframe
data = pd.DataFrame(lines,columns=columns)
# index of data
data.index = [i for i in range(1, len(lines)+1)]
# change datatype of data from string to number
data=data.apply(pd.to_numeric)
# some informations of data set
data.describe()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,B
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,37.366667,34.816667,74.600000,8.798333,3.263167,10.973333,80.913333,3876.050000,11.873333,46.073333,14.373333,37.850000,22.516667,53.766667,57.533333,940.358433
std,9.984678,11.975245,4.766408,1.464552,0.135252,0.845299,5.141373,1454.102361,8.919886,4.626851,4.160096,91.977673,46.358402,63.390468,5.460076,62.206278
min,10.000000,12.000000,63.000000,5.600000,2.920000,9.000000,66.800000,1441.000000,0.800000,33.800000,9.400000,1.000000,1.000000,1.000000,38.000000,790.733000
25%,32.750000,27.000000,72.000000,7.675000,3.210000,10.400000,78.375000,3104.250000,4.950000,43.250000,12.000000,7.000000,4.000000,11.000000,54.750000,898.372000
50%,38.000000,31.500000,74.000000,9.000000,3.265000,11.050000,81.150000,3567.000000,10.400000,45.500000,13.200000,14.500000,9.000000,30.000000,57.000000,943.683000
75%,43.250000,40.000000,77.250000,9.700000,3.360000,11.500000,83.600000,4519.750000,15.650000,49.525000,15.150000,30.250000,23.750000,69.000000,60.000000,983.205750
max,60.000000,83.000000,85.000000,11.800000,3.530000,12.300000,90.700000,9699.000000,38.500000,59.700000,26.400000,648.000000,319.000000,278.000000,73.000000,1113.156000

In [4]:
# head examples of data set
data.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,B
1,36,27,71,8.1,3.34,11.4,81.5,3243,8.8,42.6,11.7,21,15,59,59,921.870
2,35,23,72,11.1,3.14,11.0,78.8,4281,3.6,50.7,14.4,8,10,39,57,997.875
3,44,29,74,10.4,3.21,9.8,81.6,4260,0.8,39.4,12.4,6,6,33,54,962.354
4,47,45,79,6.5,3.41,11.1,77.5,3125,27.1,50.2,20.6,18,8,24,56,982.291
5,43,35,77,7.6,3.44,9.6,84.6,6441,24.4,43.7,14.3,43,38,206,55,1071.289

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 60
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      60 non-null     int64
 1   A2      60 non-null     int64
 2   A3      60 non-null     int64
 3   A4      60 non-null     float64
 4   A5      60 non-null     float64
 5   A6      60 non-null     float64
 6   A7      60 non-null     float64
 7   A8      60 non-null     int64
 8   A9      60 non-null     float64
 9   A10     60 non-null     float64
 10  A11     60 non-null     float64
 11  A12     60 non-null     int64
 12  A13     60 non-null     int64
 13  A14     60 non-null     int64
 14  A15     60 non-null     int64
 15  B       60 non-null     float64
dtypes: float64(8), int64(8)
memory usage: 8.0 KB

<h3>2. Ridge Regression</h3>

In [6]:
# normalize the data
def normalize_data_and_add_ones(X):
    X=np.array(X)
    #search in each row to find min/max element in column
    X_max = np.array([[np.amax(X[:,column_id]) for column_id in range(X.shape[1])] for _ in range(X.shape[0])])
    X_min = np.array([[np.amin(X[:,column_id]) for column_id in range(X.shape[1])] for _ in range(X.shape[0])])
    #normalize Min-Max features scaling
    X_normalized = (X-X_min)/(X_max-X_min)
    ones=[[1] for _ in range(X.shape[0])]
    #return the X_normalize with the first col is 1
    return np.column_stack((ones,X_normalized))

In [7]:
#normalize data
data=normalize_data_and_add_ones(data)
data

array([[1.        , 0.52      , 0.21126761, ..., 0.20938628, 0.6       ,
        0.40672347],
       [1.        , 0.5       , 0.15492958, ..., 0.13718412, 0.54285714,
        0.64245417],
       [1.        , 0.68      , 0.23943662, ..., 0.11552347, 0.45714286,
        0.53228523],
       ...,
       [1.        , 0.7       , 0.16901408, ..., 0.02527076, 0.51428571,
        0.32554439],
       [1.        , 0.64      , 1.        , ..., 0.1732852 , 0.45714286,
        0.37554393],
       [1.        , 0.56      , 0.22535211, ..., 0.13718412, 0.57142857,
        0.50774604]])

In [78]:
# show some head example of data
columns = np.insert(columns,0,"A0")
data = pd.DataFrame(data,columns=columns)
data.head()

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,B
0,1.0,0.52,0.211268,0.363636,0.403226,0.688525,0.727273,0.615063,0.218213,0.212202,0.339768,0.135294,0.030912,0.044025,0.209386,0.600000,0.406723
1,1.0,0.50,0.154930,0.409091,0.887097,0.360656,0.606061,0.502092,0.343909,0.074271,0.652510,0.294118,0.010819,0.028302,0.137184,0.542857,0.642454
2,1.0,0.68,0.239437,0.500000,0.774194,0.475410,0.242424,0.619247,0.341366,0.000000,0.216216,0.176471,0.007728,0.015723,0.115523,0.457143,0.532285
3,1.0,0.74,0.464789,0.727273,0.145161,0.803279,0.636364,0.447699,0.203923,0.697613,0.633205,0.658824,0.026275,0.022013,0.083032,0.514286,0.594120
4,1.0,0.66,0.323944,0.636364,0.322581,0.852459,0.181818,0.744770,0.605473,0.625995,0.382239,0.288235,0.064915,0.116352,0.740072,0.485714,0.870149

In [8]:
# build class RidgeRegression
class RidgeRegression:
    def __init__(self):
        return
    
    # determine the optimal w
    def fit(self,X_train,Y_train,LAMBDA):
        assert len(X_train.shape)==2 and \
               X_train.shape[0]==Y_train.shape[0]
        # use the formula of optimal w: w* = tranpose(X^T.X).dot(X^T.Y)
        W = np.linalg.inv(
            X_train.transpose().dot(X_train) + 
            LAMBDA*np.identity(X_train.shape[1])
            ).dot(X_train.transpose()).dot(Y_train)
        return W
    
    # find the optimal w by gradient descent
    def fit_gradient_descent(self,X_train,Y_train,LAMBDA,learning_rate=0.01,max_num_epoch=100,batch_size=10):
        #initialize W with sample standard normal distribution
        W = np.random.randn(X_train.shape[1]).reshape(-1,1)
        last_loss=10e+8
        for ep in range(max_num_epoch):
            #array of index of X_train
            arr = np.array(range(X_train.shape[0]))
            #shuffle the order of elements of array
            np.random.shuffle(arr)
            #get the shuffle X_train and relative Y_train
            X_train = X_train[arr]
            Y_train = Y_train[arr]
            total_minibatch = int(np.ceil(X_train.shape[0]/batch_size))
            for i in range(total_minibatch):
                index = i*batch_size
                X_train_sub = X_train[index:index + batch_size]
                Y_train_sub = Y_train[index:index + batch_size]
                #compute gradient
                gradient = X_train_sub.T.dot(X_train_sub.dot(W) - Y_train_sub) + LAMBDA * W
                #update the value of w
                W = W - learning_rate * gradient
            new_loss = self.compute_RSS(self.predict(W,X_train),Y_train)
            #check the difference between current loss and previous loss is small enough
            if np.abs(new_loss-last_loss)<=1e-5:
                break
            last_loss=new_loss
        return W
    
    # predict the value of Y_new from X_new and w
    def predict(self,W,X_new):
        X_new = np.array(X_new)
        Y_new = X_new.dot(W)
        return Y_new
    
    # compute RSS of y_predicted and y_new
    def compute_RSS(self,Y_new,Y_predicted):
        # the average of square of Y_new-Y_predicted
        loss = 1. / Y_new.shape[0] * \
               np.sum((Y_new-Y_predicted)**2)
        return loss
    
    def get_the_best_LAMBDA(self,X_train,Y_train):
        # compute the average RSS given LAMBDA, num_folds by cross-validation
        def cross_validation(num_folds,LAMBDA):
            row_ids = np.array(range(X_train.shape[0]))
            # np.split() requires equal divisions
            valid_ids = np.split(row_ids[:len(row_ids) - len(row_ids)%num_folds],num_folds)
            # append the remainder of row_ids into the last element of valid_ids
            valid_ids[-1] = np.append(valid_ids[-1],row_ids[len(row_ids) - len(row_ids)%num_folds:])
            # the list of D/Di for i in range(num_folds)
            train_ids = [[k for k in row_ids if k not in valid_ids[i]] for i in range(num_folds)]
            aver_RSS=0
            for i in range(num_folds):
                valid_parts = {'X':X_train[valid_ids[i]],'Y':Y_train[valid_ids[i]]}
                train_parts = {'X':X_train[train_ids[i]],'Y':Y_train[train_ids[i]]}
                W = self.fit(train_parts['X'],train_parts['Y'],LAMBDA)
                Y_predicted = self.predict(W,valid_parts['X'])
                aver_RSS += self.compute_RSS(valid_parts['Y'],Y_predicted)
            return aver_RSS/num_folds
        
        def range_scan(best_LAMBDA,minimum_RSS,LAMBDA_values):
            #loop in lambda_values set
            for current_LAMBDA in LAMBDA_values:
                #caluculate average RSS with each lambda
                aver_RSS = cross_validation(num_folds=5,LAMBDA = current_LAMBDA)
                #get the best value of lambda
                if aver_RSS < minimum_RSS:
                    best_LAMBDA = current_LAMBDA
                    minimum_RSS = aver_RSS
            return best_LAMBDA, minimum_RSS
        
        best_LAMBDA, minimum_RSS = range_scan(best_LAMBDA=0,minimum_RSS=10e+8,
                                              LAMBDA_values = range(60)) #[0,1,2,...,59]
        
        LAMBDA_values = [k * 1/1000 for k in range(
            max(0,(best_LAMBDA-1)*1000),(best_LAMBDA+1)*100,1)] # step size is 0.001
        
        best_LAMBDA, minimum_RSS = range_scan(best_LAMBDA=best_LAMBDA,minimum_RSS=minimum_RSS,LAMBDA_values=LAMBDA_values)
        return best_LAMBDA

In [9]:
# split training set and test set(50/10)
X_train, Y_train = data[:50, :data.shape[1]-1], data[:50,data.shape[1]-1].reshape(-1,1)
X_test, Y_test = data[50:,:data.shape[1]-1], data[50:,data.shape[1]-1].reshape(-1,1)
#apply ridge regression
RR = RidgeRegression()
#get the optimal lambda
best_lambda=RR.get_the_best_LAMBDA(X_train,Y_train)
#W by fit by gradient descent algorithm
W_gd = RR.fit(X_train,Y_train,best_lambda)
Y_predicted = RR.predict(W_gd,X_test)
#return RSS
RR.compute_RSS(Y_test,Y_predicted)

0.016301131439130326

<h3>3. Scikit - Learn:</h3>

In [10]:
# import sklearn 
from sklearn.linear_model import RidgeCV #import RR cross validation model 
from sklearn.metrics import mean_squared_error # import RSS
#find the best lambda
clf = RidgeCV(alphas=[1e-3,1e-2,1e-1,1])
#fit model
clf.fit(X_train,Y_train)
#calculate the mean_square_error
Y_predicted_skl=clf.predict(X_test)
mean_squared_error(Y_test,Y_predicted_skl)

0.016751436122483004